Django
djangorestframework
djangorestframework-simplejwt
django-cloudinary-storage
django-cors-headers
django-filter
dj_database_url
Pillow
python-decouple
stripe
drf-spectacular
social-auth-app-django
django-allauth
django-email-verification
django-ratelimit
django-axes
django-csp
django-phonenumber-field 
phonenumbers
